body {
    background-color: #f3dcfa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }
   header {
    background-image: url('portada2.gif');
    background-color: #3b0050;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
   }
   header h1 {
    margin: 0;
   }
   nav ul {
    list-style-type: none;
    padding: 0;
   }
   nav ul li {
    display: inline;
    margin-right: 10px;
   }
   nav ul li a {
    color: #fff;
    text-decoration: none;
   }
   main {
    padding: 20px;
   }
   section {
    margin-bottom: 20px;
    
   }
   footer {
    background-color: #3b0050;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-image: url('portada2.gif');
    background-size: cover;
    background-position: center;
   }